.team {
	padding: 50px 0 22px 0;
	position: relative;
	z-index: 3;
}

.team__title {
	margin-bottom: 40px;
	text-align: center;
}
.team__title h4 {
	text-transform: uppercase;
	font-weight: var(--fw-bold);
}



.team__blocks {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}
.team__block {
	width: calc( (100% - 120px) / 5 );
	background: var(--gray);
	border-radius: var(--b-rad);
	position: relative;
	box-shadow: 0px 0px 0px rgba(255, 241, 0, 0.15);
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	margin-bottom: 30px;
}
.team__block--large {
	width: calc( (100% - 30px) / 2 );
}
.team__block:hover {
	box-shadow: 0px 4px 40px rgba(255, 241, 0, 0.15);
}
.team__block:after {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top:-2px;
	right:-2px;
	z-index: 1;
	border-radius: var(--b-rad);
	padding: 2px; 
	background:linear-gradient(to right, transparent 0%, transparent 0%,  #FFE259 100%); 
	-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: xor;
	mask-composite: exclude; 
}
.team__block.team__block--large:after {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: var(--b-rad);
	border-bottom-right-radius: var(--b-rad);
	width: 50%;
	background:linear-gradient(to right, transparent 0%, transparent 0%,  #FFE259 100%); 
}
.team__block.team__block--large:before {
	content: "";
	display: block;
	position: absolute;
	width: 50%;
	height: 100%;
	top:-2px;
	left:-2px;
	z-index: 1;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: var(--b-rad);
	border-bottom-left-radius: var(--b-rad);
	padding: 2px; 
	background:linear-gradient(to left, transparent 0%, transparent 0%,  #FFE259 100%); 
	-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: xor;
	mask-composite: exclude; 
}
.team__block-container {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	position: relative;
	flex-wrap: wrap;
	height: 100%;
	z-index: 2;
	border-radius: var(--b-rad);
	overflow: hidden;
	background: var(--gray);
}
.team__block--large .team__block-container {
	flex-wrap: nowrap;
}
.team__block-container:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0%;
	z-index: 1;
	background: linear-gradient(180deg, rgba(255, 241, 0, 0.1) 0%, rgba(255, 241, 0, 0) 100%);
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.team__block--active .team__block-container:before,
.team__block:hover .team__block-container:before {
	height: 50%;
	width: 100%;
}
.team__block--large .team__block-container:before {
	width: 0%;
	height: 100%;
	background: linear-gradient(90deg, rgba(255, 241, 0, 0.1) 0%, rgba(255, 241, 0, 0) 100%);
}
.team__block--large.team__block--active .team__block-container:before,
.team__block--large:hover .team__block-container:before {
	width: 50%;
	height: 100%;
}
.team__block-twitter {
	position: absolute;
	top: -1px;
	right: -1px;
	z-index: 4;
}
.team__block-twitter a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 35px;
	height: 35px;
	border-bottom-left-radius: var(--b-rad);
	border-bottom: 2px solid var(--yellow);
	border-left: 2px solid var(--yellow);
}
.team__block-img {
	width: 80px;
	min-width: 80px;
	height: 80px;
	position: relative;
	z-index: 3;
	margin: 0 auto;
}
.team__block--large .team__block-img {
	width: 152px;
	min-width: 152px;
	height: auto;
}
.team__block-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.team__block-info {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	position: relative;
	z-index: 3;
	padding: 10px 20px;
}
.team__block-info {
	padding: 10px 10px;
}
.team__info-title {
	margin-bottom: 10px;
	padding-bottom: 10px;
	width: 100%;
	text-align: center;
	position: relative;
}
.team__block--large .team__info-title {
	padding-right: 30px;
	padding-bottom: 0px;
	text-align: left;
}
.team__info-title:after {
	content: "";
	height: 1px;
	width: 50%;
	min-width: 50px;
	position: absolute;
	display: block;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	background: rgb(255,255,255);
	background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
}
.team__block--large .team__info-title:after {
	display: none;
}
.team__info-name > h6 {
	font-weight: var(--fw-bold);
}
.team__block--large .team__info-name > h6 {
	font-size: 22px;
}
.team__info-job {
	font-size: 12px;
}
.team__block--large .team__info-job {
	font-size: 1rem;
	text-transform: uppercase;
}
.team__info-text {
	max-height: 0;
	overflow: hidden;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.team__block--large .team__info-text,
.team__block--active .team__info-text,
.team__block:hover .team__info-text {
	max-height: 400px;
}
.team__info-text p {
	font-size: 10px;
	text-align: center;
}
.team__block--large .team__info-text p {
	text-align: left;
}
.team__info-text {
	font-size: 10px;
}


@media screen and (max-width: 1024px) {
	.team {
		padding: 50px 0 32px 0;
	}


	.team__blocks {
		margin: 0 auto;
		align-items: stretch;
	}
	.team__block {
		margin-bottom: 20px;
	}
	.team__block--large {
		width: calc( (100% - 20px) / 2 );
	}
	.team__block--large-mob {
		width: 100%;
		max-width: 500px;
		margin: 0 auto 20px auto;
	}
	.team__block-twitter svg{
		width: 18px;
		height: auto;
	}
	.team__info-title {
		flex-grow: unset;
	}
	.team__block--large .team__info-name > h6 {
		font-size: calc(1rem + 2px);
	}
	.team__block--large .team__info-job {
		font-size: calc(1rem - 2px);
		text-transform: none;
	}
	.team__block--large .team__block-img {
		width: 140px;
		min-width: 140px;
	}
}